:root {
	--projectcount:1
}
.gallery h1 {

	font-size:3em;
    font-weight: bold;
    color: var(--teal);
}

.gallery p {
	font-size:1.2em;
}


.gallery {
  display:flex;	
}

.left {
	width:50%;
}

.right {
	height:100vh;
	// outline:1px solid purple; 
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
    position: relative; // 
}

.desktopContent {
	margin:auto;
	width:50%;
}

.desktopContentSection {
	min-height:100vh;
    // outline:1px solid green;
    position: relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.desktopPhotos {
	width:35vw;
    height: 35vw;
	border-radius:20px;
	position:absolute; // relative
	bottom: calc((-77% * var(--projectcount)));
	overflow :hidden;
}

	
.right-fixed {
    position: fixed;
    top: 15%;
}
.right-relative {
    position: relative;
    top: 0%;
}
.opencv {
    background: url('/images/projects/opencv.png');

}

.nimbus {
    background: url('/images/projects/nimbus.png');
}

.hillffair {
    background: url('/images/projects/hillffair.png');
}

.pomodoro{
    background: url('/images/projects/pomodoro.png');
}
.password {
    background: url('/images/projects/password.png');
}
.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // &:last-child {
    //     background-position: left;
    // }
}


/* small screen / mobile layout */
.mobileContent {
	display:none;
	width:80vw;
}

.mobilePhoto {
	margin-top:5em;
	border-radius:6vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	img {
		width: 90%;
	}
}


.password {
    position: absolute;
}



/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
	.gallery h1 {
		font-size: 1rem;
	}
	.gallery p{
		font-size: 0.75rem;
	}
	.left {
		display:none;
	}
	.mobilePhoto {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
		font-size: 1rem;
	}
	

}

