$color_1: rgb(105, 105, 105);

.aboutMain {
	display: flex;
	margin-bottom: 5rem;
	align-items: flex-start;
	justify-content: center;
	color: $color_1;
}

.aboutBody {
	margin-top: 2.5rem;
	width: 60%;
	display: flex;
	flex-wrap: wrap;

	p {
		font-size: 1.3rem;
		margin: 0px;
		margin-right: 1.5vw;
		font-weight: 700;

		@media (max-width:600px) {
			text-align: center;
			font-size: 0.75rem;
		}
	}

	span {
		opacity: 0.5;
	}

	@media (max-width:600px) {
		justify-content: center;
		width: 90%;
	}
}
