.menu{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: var(--background-end-rgb);
    right: 0;
    top: 0;
    color:var(--foreground-rgb);
    z-index: 1;
    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 90px;
        @media (max-width:600px) {
            padding: 30px 30px;
            margin-top: 4rem;
            height: 80%;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            margin-top: 3vw;
            font-size: 2.5em;
            gap: 12px;
            @media (max-width:600px) {
                font-size: 1rem;
            }
            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
            }

            a{
                text-decoration: none;
                font-weight: 300;
            }
            
        }
    }
}