@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 0,255;
    --background-end-rgb: 0, 0, 0;
    --dark: #1c1c1c;
    --light: #c4c4c4;
    --teal: #008080;
  }
}

:root {
  --foreground-rgb: #000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #fff;
}
body {
  background-color: var(--background-end-rgb);
  color: var(--foreground-rgb);
}
main {
  scroll-behavior: smooth;
  font-family: 'Lexend', sans-serif;
}