@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url('/Fonts/Lexend-VariableFont_wght.ttf');
  font-weight: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #1c1c1c;
    --light: #c4c4c4;
    --teal: #008080;
  }
}

:root {
  --background-end-rgb: #0C0D0F;
  --background-start-rgb: 214, 219, 220;
  --foreground-rgb: #fff;
}


body {
  background-color: var(--background-end-rgb);
  color: var(--foreground-rgb);
  overflow-x: hidden;
  font-family: 'Lexend', sans-serif;
}

main {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Lexend', sans-serif;
}

main .page-container {
  width: 200%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  @media (max-width:600px) {
    width: 100%;
    height: fit-content;
    display: block;
  }}

/* Track */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3498db;
  /* Change the color as needed */
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
  /* Change the hover color as needed */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #ecf0f1;
  /* Change the track hover color as needed */
}

/* Handle when dragging */
::-webkit-scrollbar-thumb:active {
  background-color: #1f618d;
  /* Change the active color as needed */
}

/* Track when dragging */
::-webkit-scrollbar-track:active {
  background-color: #bdc3c7;
  /* Change the active track color as needed */
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #ffffff;
  /* Change the corner color as needed */
}

.custom-line:before {
  background: blue;
}