$color_1: black;
$color_2: #212121;
$color_3: var(--background-end-rgb);
$color_4: #B1B1B1;
$color_5: #000000;

/* active state */
/* active state */
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #B1B1B1;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #B1B1B1;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #B1B1B1;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.contact-form {
    height: 100vh;
    width: 100vw;


    .container {
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: all 0.3s ease;
    }

    .menu-active {
        .container {
            transform: scale(0.9);
        }

        .nav {
            a.menu-activator {
                transform: rotate(90deg);
            }

            a.white {
                color: $color_2;
                transition: all 0.15s ease;
            }
        }

        .menu {
            left: 0;

            &::before {
                background: rgba(240, 240, 240, 0.9);
            }
        }
    }

    .container {
        .inner {
            width: 100vw;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow: hidden;

            .panel {
                position: relative;
                box-sizing: border-box;
                height: 100%;
                width: 60%;
                @media (max-width:600px) {
                    transform: skew(0deg);
                    width: 100%;
                    float: none;
                }
                float: left;
                transform: skew(-20deg);

                .panel-content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%) skew(20deg);
                    @media (max-width:600px) {
                        transform: translateX(0) translateY(0) skew(0);
                        top: 0;
                    }
                }
            }

            .panel.panel-left {
                margin-left: -10%;

                .panel-content {
                    .image-background {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 50%;
                        top: 50%;
                        opacity: 0.95;
                    }
                }
                @media (max-width:600px) {
                    display: none;
                }
            }

            .panel.panel-right {
                margin-right: -10%;
                background: var(--foreground-rgb);
               

                .panel-content {
                    .form {
                        display: block;
                        position: absolute;
                        margin: 0 auto;
                        width: 350px;
                        min-height: 400px;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-25%);

                        h1 {
                            display: block;
                            margin: -50px 0 45px 0;
                            color: var(--background-end-rgb);
                            @media (max-width:600px) {
                                color: var(--foreground-rgb);
                            }
                        }
                        @media (max-width:600px) {
                            left: 0;
                            width: auto;
                        }
                    }
                }
                @media (max-width:600px) {
                    margin-right: 0;
                    background-color: var(--background-end-rgb);
                    color: var(--foreground-rgb);
                }
            }
        }
    }

    .nav {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        margin: 0;
        padding: 0 25px;
        box-sizing: border-box;
        z-index: 99;

        a {
            display: inline-block;
            height: 75px;
            line-height: 75px;
            font-size: 30px;
            padding: 0 25px;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            transition: all 0.32s ease;
        }

        a.white {
            color: $color_1;
        }

        a.link {
            float: right;
            position: relative;
            text-align: center;

            i {
                position: absolute;
                display: block;
                transform: translateX(-50%);
                transition: all 0.32s ease;
            }

            i.hidden {
                opacity: 0;
                pointer-events: none;
            }

            &:hover {
                i {
                    opacity: 0;
                    pointer-events: none;
                }

                i.hidden {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        i.ion-cube {
            display: inline-block;
            position: absolute;
            height: 75px;
            line-height: 75px;
            font-size: 35px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    & {
        &:not(.menu-active) {
            .nav {
                a.menu-activator {
                    &:hover {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .group {
        position: relative;
        margin: 2.5rem 0;
        &:nth-child(4) {
            label {
                bottom: 0.5rem;
            }
        }
        &:last-child {
            float: right;
        }
    }
    label {
        @media (max-width:600px) {
            color: var(--foreground-rgb);
        }
        color: $color_3;
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        bottom: 5px;
        opacity: 0.5;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input {
        font-size: 13px;
        height: 25px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--background-end-rgb);
        @media (max-width:600px) {
            border-bottom: 1px solid var(--foreground-rgb);
        }
        color: $color_3;
        background: rgba(0, 0, 0, 0);
        opacity: 0.5;
        transition: 0.2s ease;

        &:focus {
            outline: none;
            opacity: 1;
        }

        &:focus~label {
            bottom: 25px;
            font-size: 12px;
            color: $color_3;
            opacity: 1;
        }

        &:valid~label {
            bottom: 25px;
            font-size: 12px;
            color: $color_3;
            opacity: 1;
        }

        &:focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }
        @media (max-width:600px) {
            color: var(--foreground-rgb);
        }
    }

    textarea {
        font-size: 13px;
        height: 25px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--background-end-rgb);
        @media (max-width:600px) {
            border-bottom: 1px solid var(--foreground-rgb);
        }
        color: $color_3;
        background: rgba(0, 0, 0, 0);
        opacity: 0.5;
        transition: 0.2s ease;
        height: 50px;

        &:focus {
            outline: none;
            opacity: 1;
        }

        &:focus~label {
            top: -10px;
            font-size: 12px;
            color: $color_3;
            opacity: 1;
        }

        &:valid~label {
            top: -10px;
            font-size: 12px;
            color: $color_3;
            opacity: 1;
        }
    }

    
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    a.send-btn {
        position: absolute;
        right: 2rem;
        transition: 0.2s ease;
        &:hover {
            color: $color_5;
            cursor: pointer;
        }
        @media (max-width:600px) {
            position: static;
            margin: auto;
            color: var(--foreground-rgb);
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
      
        transition: all 0.33s ease;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(240, 240, 240, 0.0);
            transition: all 0.45s ease;
        }
    }
    @media (max-width:600px) {
        color: var(--foreground-rgb);
        background-color: var(--background-end-rgb);
    }
}